{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Онлайн-кинотеатр</title>
        <link rel="stylesheet" href="{% static 'main/style.css' %}">

    </head>
    <body>
        <p>Настройки</p>
        <form method="post">
            {% csrf_token %}
            <label for="lang">Язык</label>
            <select name="lang" id="lang">
                <option value="ru">Русский</option>
                <option value="en">English</option>
            </select>
            <label for="theme">Тема:</label>
            <select name="lang" id="lang">
                <option value="light">Светлая</option>
                <option value="dark">Темная</option>
            </select>

        </form>
        <h1>Кинотеатр</h1>
        <h2>Жанры</h2>

        <ul>

                {% for genre in genres %}
                <li>{{genre}}</li>
                {% endfor %}

        </ul>


        <h2>Фильмы</h2>
        <div class="movies">
            {% for movie in movies %}
                <div class="movie_card">
                <img src="{% static 'main/image/' %}{{movie.poster}}" alt="{{movie.title}}">
                <h2>{{movie.title}} </h2>
                <h3>{{movie.genre}}</h3>
                {{movie.description}}
                </div>
            {% endfor %}
        </div>

    </body>



</html>