{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{{transl.title}}</title>
        <link rel="stylesheet" href="{% static 'main/style.css' %}">

    </head>
    <body class="{{theme}}">
        <p>{{transl.settings}}</p>
        <form method="post">
            {% csrf_token %}
            <label for="lang">{{transl.lang}}</label>
            <select name="lang" id="lang">
                <option value="ru" {% if lang == 'ru'%}selected{% endif %}>Русский</option>
                <option value="en" {% if lang == 'en'%}selected{% endif %}>English</option>
            </select>
            <label for="theme">{{transl.theme}}:</label>
            <select name="theme" id="theme">
                <option value="light" {% if theme == 'light' %}selected{% endif %}>Светлая</option>
                <option value="dark" {% if theme == 'dark' %}selected{%endif%}>Темная</option>
            </select>
            <button type="submit">{{transl.save}}</button>
        </form>

        <h1>{{transl.title}}</h1>
        <h2>{{transl.genres}}</h2>

        <p>{{transl.help_for_genres}}</p>
        <form method="post">
            {% csrf_token %}
            <select name="genre" id="genre">
                <option value="0" {%if '0' in sort_genre %}selected{%endif%}>{{transl.all_genres}}</option>
                {% for genre in genres %}
                <option value="{{genre.id}}" {%if genre.id|stringformat:"s" in sort_genre %}selected{%endif%}>{{genre.name}}</option>
                {% endfor%}
            </select>
            <button type="submit">{{transl.save}}</button>
        </form>
        <p>{{transl.help_for_genres_2}}</p>
        <form method="post">
            {% csrf_token %}

            {%for genre in genres%}
            {%if genre.name != "All" %}
            <label><input type="checkbox" value={{genre.id}} name="multiply_genres" {%if genre.id|stringformat:"s" in sort_genre%}checked{%endif%}>{{genre.name}}</label>
            {%endif%}
            {%endfor%}
            <button type="submit">{{transl.save}}</button>

        </form>


        <h2>{{transl.movies}}</h2>
        <div class="movies">
            {% for movie in movies %}
                {%if '0' in sort_genre or movie.genre|stringformat:"s" in sort_genre%}
                <div class="movie_card">
                <img src="{% static 'main/image/' %}{{movie.poster}}" alt="{{movie.title}}">
                <h2>{{movie.title}} </h2>
                <h3>
                    {% for g in genres %}
                        {% if g.id|stringformat:"s" == movie.genre %}{{ g.name }}{% endif %}
                    {% endfor %}
                </h3>
                <p>{{movie.description}}</p>
                </div>
                {%endif%}
            {% endfor %}
        </div>

    </body>



</html>